body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #F3E8EE !important;
}

#title {
  font-family: 'DM Sans', sans-serif;
  color: #F3E8EE;
  padding-left: 25px;
}

.header {
  background: #2E2C2F;
  position: sticky;
  top: 0;
  padding: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#chart-button-wrapper Button.active {
  background-color: #729B79;
}

#chart-button-wrapper Button {
  background-color: #BACDB0;
}
